<h1>Bluebird.js Promise Example</h1>

<a href="https://www.thirdandgrove.com/take-better-control-of-your-code-using-javascript-promises" > Link about Bluebird.js Exampple</a>

<img src="/images/bb.png" >

    <h2>{{resultofbb}}</h2>